extends base.pug

block content
  section.signsuccess
    .signsuccesscontainer
        h2 Payment successful
        p Have a great ride
        form(action='/' method='get')
            button(type='submit',class='btn') Go back to home
 
        
block scripts