extends base.pug

block content
  section.signsuccess
    .signsuccesscontainer
        h2 Signed up successfully
        p Begin to explore Cars Right Now
        form(action='/' method='get')
            button(type='submit',class='btn') Go back to home
 
        
block scripts