extends base.pug

block content
  div.termscontainer 
        h1 Terms and conditions 
          .terms
            .t1
                h4 1. Driver Requirements
                p ➤Renter must be at least 18 years old.
                p ➤Must hold a valid driver's license with at least 1 year of driving experience.
                p ➤International renters must present a passport and, if necessary, an International Driving Permit (IDP).

            .t1
                h4 2. Rental Period
                p ➤The rental begins at the time of vehicle pickup and ends when the vehicle is returned.
                p ➤Late returns may incur additional hourly or daily charges.

            .t1
                h4 3. Fuel Policy
                p ➤Vehicle must be returned with the same fuel level as at the time of pickup.
                p ➤Failure to do so will result in refueling charges.

            .t1
                h4 4. Insurance and Liability
                p ➤Basic insurance is included (e.g., third-party liability).
                p ➤Renter is liable for damage, theft, or loss up to a maximum deductible amount unless optional Collision Damage Waiver (CDW) or Theft Protection is purchased.
                p ➤Insurance is void if terms are violated (e.g., drunk driving, unauthorized drivers).

            .t1
                h4 5. Use Restrictions
                p ➤Vehicle may not be used for: racing, towing, or off-road driving.
                p ➤Transporting illegal goods or flammable materials.
                p ➤Driving outside approved geographic areas or borders without prior consent.
                p ➤Only authorized drivers listed in the rental agreement may drive the vehicle.

            .t1
                h4 6. Traffic Violations
                p ➤Renter is responsible for all traffic fines, tolls, and parking violations during the rental period.

            .t1
                h4 7. Breakdown and Accidents
                p ➤In the event of a breakdown, contact the rental company immediately.
                p ➤Notify police and obtain a report.
                p ➤Inform the rental company within 24 hours.
                p ➤Provide all details of the incident and cooperate with the investigation.

            .t1
                h4 8. Vehicle Condition
                p ➤Vehicle must be returned in clean, undamaged condition.
                p ➤Cleaning fees apply if the vehicle is excessively dirty or if smoking is detected inside the car.

            .t1
                h4 9. Cancellation and Refund Policy
                p ➤Cancellations made 48 hours before pickup are fully refundable.
                ul 
                    li    ⇨Cancellations made 24 hours before pickup are 75% refundable.
                    li    ⇨Cancellations made 12 hours before pickup are 50% refundable.
                    li    ⇨Cancellations made 4 hours before pickup are 25% refundable.
                    li    ⇨Cancellations made less than 4 before hours pickup are non refundable.
                p ➤No-shows will incur full charges.

            .t1
                h4 10. Deposit and Payment
                p ➤A security deposit is required and refundable upon return if no damage or violation is reported.

            .t1
                h4 11. Force Majeure
                p ➤The company is not liable for failure to provide the service due to events beyond its control (e.g., natural disasters, strikes, government restrictions).

block scripts