extends base.pug

block content
  section.thanku
    .thnkcontainer
        h2 Thank you
        p You have successfully submitted your form!
        p We will contact you soon  
        form(action='/' method='get')
            button(type='submit',class='btn') Go back to home
 
        
block scripts